.timer{
background-color: #ebebeb;
    border-radius: 0.5rem;
position: relative;
}
.timer.restart-animation::after{
    content: " ";
    position: absolute;
width: 0;
    height: 100%;
    animation-name: countdowns;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
    display: block;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
}


@keyframes countdowns{
    0%{
        width: 0;
        background-color: rgb(22,255,0);
    }
    40%{
        width: 40%;
        background-color: rgba(208,255,7,1);
    }
    70%{
        width: 70%;
        background-color: rgba(255,143,5,1);
    }
    100%{
        width: 100%;
        background-color: rgba(255,0,0,1);
    }
}